# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# PyQt5 build files
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store

# Logs and temp
*.log
*.tmp

# Distribution folders
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Files generated automatically
# requirements.txt

